<!doctype html>
<html>
	<head>
		<title><%= htmlWebpackPlugin.options.title %></title>
	</head>
	<body>
		<div class="mainContSearch">
			<div class="containerSearch">
				<div id="resultCont" class="pt-1">
					<div class="row m-5 borderBottom w-75 mx-auto">
						<div class="col-sm-4 mb-2 searchResultLabel"><span class="searchResultLabel"></span> icin Sonuclar</div>
						<div class="col-sm-4 offset-sm-4 mb-2 text-right resultCountLabel"><span class="resultCountLabel"></span> film bulundu</div>
					</div>
				</div>
				<div class="box pt-2 pb-2 themeColor text-center">
					<a href="#resultCont"class="mx-auto">Return To Top&nbsp<i class="fas fa-angle-double-right"></i></a>
				</div>
			</div>
		</div>
	</body>
</html>